*{
    box-sizing: border-box
}
/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/* thi is navbar section */

.nav-container{
    height: 130px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
   
 }
 
 .logo-container{
     display: flex;
     gap: 20px;
     align-items: center;
     width: 50%;
     padding-left: 160px;
 }
 .logo-container img{
    
     width: 86.041px;
     height: 40px;
     object-fit: cover;
    
 }
 .logo-container p{
     font-size: 2.8rem;
     font-weight: 700;
     width: 147px;
     height: 53px;
 }
 .g-section{
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 
 }
 .nav-item-container{
     width: 50%;
     display: flex;
     gap: 32px;
     align-items: center;
 }
 .nav-item-container a{
     text-decoration: none;
     color: #3C354F;
     font-size: 18px;
     font-weight: 500;
 }
 .follow-btn{
     display:flex ;
     justify-content: center;
     gap: 20px;
     align-items: center;
     background-color:rgba(11, 2, 35, 0.10);
     border-radius: 8px;
     width: 262px;
     height: 56px;
 }

 /* nav design ends here */


 /* banner start here*/

 .banner-container{
    height: 700px;
     display: flex;
     
    
}
.banner-text{
    width: 50%;
  
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}


.banner-img{
    width: 50%;
   
}
.banner-img img{
     width: 80%;
     height: 100%;
}
.banner-text h2{
color: #0B0223;
padding-top: 100px;
margin-bottom: 0px;
font-size:3rem;
font-weight: 600;
}
.banner-text p{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size:5.3rem;
    font-weight: 800;
    margin-top:0px ;
}
 .banner-text li{
    color: #534C64;
    text-align:justify;
    padding-left: 130px;
    margin-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
   
 }
 .list {
    height:15% ;
    margin:auto;
    margin-top: 0px;
  padding-bottom: 50px;
    
 }
 .btn-container{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
 }
 .btn-1{
    
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFFFFF;
    
   font-weight: 600;
    
    padding: 10px 15px;
   background-color:crimson;
   border: none;
  
   border-radius: 15px;

}

/* this is games styles */
.games-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:75vh ;
    margin: auto;
    gap: 13px;
    margin: 10px 10px 1 ;
}  
.games{
    
    width: 60%;
    align-items: center;
    margin: auto;
}
.description{
    color: #534C64;
   text-align: center;
     margin-bottom: 70px;
    font-size: 18px;
     font-weight: 400;
    
}
.games-titel ,.funny{
    color: #0B0223;
    text-align: center;
    margin-top: 90px;
    font-size: 48px;
   
    font-weight: 700;
}
.games-container{
    align-items: center;
    padding-top: 35px;
}
 .online-img{
    position: relative;
    width: 50%;
 }
 .image{
    opacity: 1;
    display: block;
    
    transition: 5s ease;
    backface-visibility: hidden;
 }
 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .online-img:hover .image {
    opacity: 0.2;
  }
  
  .online-img:hover .middle {
    opacity: 1;
  }
  p{
    color: #ee2176;
    font-size: 20px;
    font-weight: 800;
 }

 /* small device responsive */
 /* mobile device */
 @media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }

    .nav-item-container{
        flex-direction: column;
        width: 100%;
    }
    .logo-container img{
   
        width: 48px;
        height: 20px;
       
    }
    .logo-container p{
        font-size: 1.5rem;
        font-weight: 700;
        width: 73px;
        height: 26px;
    }
    .nav-container{
        width: 100%;
        margin: 0,auto;
    }
    .logo-container{
        padding-right: 250px;
    }
    /* mobile device */
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        padding-top: 200px;
        
    }
    .banner-img{
        width: 100%;
        padding-left: 80px;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text p{
        font-size: 4rem;
    }
    .banner-text li{
       align-items:center;
        font-size: 1rem;
        padding-left: 150px;
        
    }
    .list{
        width: 50%;
        height:0% ;
       padding-right: 300px;
        margin-right: 500px;
        border-left: 1px solid #FF42A5;
    }
   }

   /* medium device responsive */
   @media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .logo-container{
        padding-right: 350px;
    }
    .banner-container{
        flex-direction: colum;
        width: 100%;
        padding-top: 250px;
   }
   .banner-text li{
    display: none;
   }
   .banner-img{
    width: 80%;
   
   }
   .banner-text{
    width: 80%;
}
   .banner-text p{
    font-size: 4rem;
}

}